<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <style>
    <style>form {
      padding: 30px 15px;
    }

    img {
      height: 150px;
      width: 100%;
      margin-bottom: 10px;
    }
  </style>

  </style>
</head>

<body>
  <div class="container">

    <form id='setin'>
      <img src="assets/Keanu-Reeves-5939c06.jpg" alt="">

      <legend>Login</legend>

      <div class="form-group checker">
        <label for="username"></label>
        <input type="text" class="form-control" name="username" value=""
          required placeholder="Pick Your username">
          <button class="btn btn-primary"><i class="fas fa-check-circle"></i></button>
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>

  </div>
</body>

</html>